body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Satoshi, "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
div{
  box-sizing: border-box;
}


h4{
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #0F0F0F;
  .notes{
      font-size: 0.75rem;
      color: #75787E;
      padding-left: 5px;
  }
}